---
import Linechart from "../components/Linechart.astro";
import Ranking from "../components/Ranking.astro";
import OBSHandler from "../components/OBSHandler.astro";
import "../styles/global.css";

const pageTitle = "Jackpot Tracker";
const pageDescription =
  "See the position of Jackpot team members on the Top 500 X-Rank leaderboards";
---

<html class="overflow-x-hidden" lang="en">
  <head>
    <title>{pageTitle}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta charset="utf-8" />
    <meta name="description" content={pageDescription} />
    <meta
      name="keywords"
      content="splatoon, jackpot, x rank, x power, tracker, race"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:image" content="" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="" />
    <meta property="twitter:url" content="" />
    <meta name="twitter:title" content={pageTitle} />
    <meta name="twitter:description" content={pageDescription} />
    <meta name="twitter:image" content="" />
  </head>
  <body
    class="bg-background overflow-x-hidden text-textPrimary min-h-screen w-full break-words font-Blitz"
  >
    <main class="max-w-6xl px-4 sm:px-10 mx-auto w-full">
      <img class="logo w-60 h-60" src="/images/logo.svg" alt="" />
      <div class="ranking max-w-[45rem] w-full mx-auto">
        <Ranking />
      </div>
      <Linechart />
      <OBSHandler />
    </main>
  </body>
</html>
