---
const members = [
  {
    name: "Leafi",
    icon: "https://cdn.discordapp.com/banners/114889120379043843/a_2558e0976e96a761f354d6a3ac9db680.webp?size=100",
    socials: {
      youtube: "https://www.youtube.com/channel/UCObOP_107KEEb9HibWtMRhA",
      twitch: "https://www.twitch.tv/777_leafi",
      twitter: "https://twitter.com/Leafiiii",
    },
  },
  {
    name: "Jared",
    icon: "https://cdn.discordapp.com/avatars/275491864344395776/2341f664d3adf39918009cf8b5c65e32.webp?size=100",
    socials: {
      youtube: "https://www.youtube.com/channel/UCRv4Yd0SWCidAXGZf-bzIKw",
      twitch: "https://www.twitch.tv/777_jared",
      twitter: "https://twitter.com/_isjared_",
    },
  },
  {
    name: "Madness",
    icon: "https://cdn.discordapp.com/avatars/383774228937179136/b550107ef8b5403fe08da02676d12352.webp?size=100",
    socials: {
      twitch: "https://www.twitch.tv/madnesssvn",
      twitter: "https://twitter.com/MadnessSVN",
    },
  },
  {
    name: ".q",
    icon: "https://cdn.discordapp.com/avatars/266716798945067010/8dcb58f6557aeabb98db9aadedd59909.webp?size=100",
    socials: {
      twitch: "https://www.twitch.tv/dotqueue",
      twitter: "https://twitter.com/Dotqueue",
    },
  },
];
---

<section
  class="members bg-backgroundDarker bg-shine border-1 border-border rounded-xl p-4 ssm:p-8 flex flex-col gap-4 shadow-lg my-20"
>
  <h2 class="text-xl text-center font-Blitz-Bold pb-4 border-b-1 border-border">
    Members
  </h2>
  <div class="ssm:px-4 my-4">
    <img
      class="rounded-lg w-full h-full"
      src="/images/banner.webp"
      alt="drawing of the jackpot team members"
    />
  </div>
  {
    members.map((member) => (
      <div class="flex flex-col ssm:flex-row p-4 gap-4 bg-backgroundLight rounded-lg justify-between bg-shinesmall items-center">
        <div class="flex gap-4 items-center">
          <img
            class="rounded-full h-10 w-10"
            src={member.icon}
            alt={`${member.name} profile picture`}
          />
          <p class="text-xl">{member.name}</p>
        </div>
        <div class="flex gap-4 items-center">
          {Object.entries(member.socials).map(([key, value]) => (
            <a href={value} target="_blank">
              <img
                class="h-10 w-10 hover:-rotate-12 hover:scale-105 transition-all duration-200"
                src={`/images/socials/${key}.webp`}
                alt={key}
              />
            </a>
          ))}
        </div>
      </div>
    ))
  }
</section>
